.Vscode

IniciandoComDotnet/bin
IniciandoComDotnet/obj
IniciandoComDotnet/.Vscode

EstruturaDoPrograma/bin
EstruturaDoPrograma/obj
EstruturaDoPrograma/.Vscode

ConhecendoVariaveisInstrucoes/bin
ConhecendoVariaveisInstrucoes/obj
ConhecendoVariaveisInstrucoes/.Vscode